<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="2:1" class="custom-grid">
    <mat-grid-tile>
      <mat-card>
        <img mat-card-image src="dame.png" class="custom-image">
        <mat-card-content>
          <p>La dame de Brassempouy</p>
        </mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
            </mat-expansion-panel-header>
            <p>La Dame de Brassempouy est une statuette en ivoire datant de la Préhistoire, découverte dans les Landes.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <img mat-card-image src="echasses.jpg" class="custom-image">
        <mat-card-content>
          <p>Les échassiers</p>
        </mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
            </mat-expansion-panel-header>
            <p>Les échassiers landais sont une tradition régionale, symbole du berger des Landes.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <img mat-card-image src="foret.png" class="custom-image">
        <mat-card-content>
          <p>Les forêts de pin</p>
        </mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
            </mat-expansion-panel-header>
            <p>Les forêts de pin des Landes sont un des plus grands massifs forestiers d'Europe.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <img mat-card-image src="cepe.png" class="custom-image">
        <mat-card-content>
          <p>Où trouver des cèpes ? </p>
        </mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>  
            </mat-expansion-panel-header>
            <p>Même pas en rêve je vous dirais rien !</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
